
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/login.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        /**清除默认文字 */
        function clearDefaultText() {
            if ($('.userName').children('input').val().trim() == 'userName')
                $('.userName').children('input').val('').css('color', '#CE67CF');
        }

        /**当用户名输入框没有东西时，自动填入默认文字 */
        function checkNameInput() {
            if ($('.userName').children('input').val().trim() == '')
                $('.userName').children('input').val('userName').css('color', '#ded0e1');
        }

        /**清除默认密码 */
        function clearDefaultPwd() {
            if ($('.passWord').children('input').val().trim() == 'passWord')
                $('.passWord').children('input').val('').css('color', '#CE67CF');
        }
    </script>
</head>
<body>
    @using (Html.BeginForm())
    {
        <div class="main">
            <!--头像-->
            <img class="headImg" src="/Content/Image/u=2688989491,641320165&fm=26&gp=0.jpg" />

            <!--登录正文-->
            <div class="loginContent">
                <div style="width: auto; display: block; height: 80px;"></div>

                <div class="userName">
                    <img src="/Content/Image/klmklm.png" />
                    <input type="text" name="name" value="userName" onfocus="clearDefaultText()" onblur="checkNameInput()" />
                    <span class="clr"></span>
                </div>

                <br />

                <div class="passWord">
                    <img src="/Content/Image/timg.png" />
                    <input type="password" name="PassWord" value="passWord" onfocus="clearDefaultPwd()" />
                    <span class="clr"></span>
                </div>

                <br />

                @Html.ActionLink("Go to register an account", "Register", new { }, new { style = "font-size: 13px; margin: auto; margin-left: 100px;" })

                <input type="submit" class="loginBtn" value="Login" />

            </div>
        </div>
    }
</body>
</html>
